In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [ ]:
cardio_data = pd.read_excel("cardio_train.xlsx")

In [15]:
cardio_data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [ ]:
f, axes = plt.subplots(5, 1, figsize=(16, 8))

sb.histplot(data = cardio_data[["age"]], ax = axes[0])
sb.histplot(data = cardio_data[["height"]], ax = axes[1])
sb.histplot(data = cardio_data[["weight"]], ax = axes[2])
sb.histplot(data = cardio_data[["ap_hi"]], ax = axes[3])
sb.histplot(data = cardio_data[["ap_lo"]], ax = axes[4])